<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MNTabbarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54C6F2D61D583476007DC59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54C6F2EF1D583476007DC59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54C6F2FA1D583476007DC59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
